span:nth-child(1) {
    color: red;
}

span:nth-child(2) {
    color: orange;
}

span:nth-child(3) {
    color: yellow;
}

span:nth-child(4) {
    color: green;
}

span:nth-child(5) {
    color: cyan;
}

span:nth-child(6) {
    color: purple;
}

.primary { fill: #e85983 }
.secondary { fill: #5b5783 }
.s0 { fill: none; stroke: grey; stroke-width: 1px; stroke-dasharray: 2 }
.s1 { fill: none; stroke: #e78ca6; stroke-width: 1px; stroke-dasharray: 2 }
.s2 { fill: none; stroke: #8586ac; stroke-width: 1px; stroke-dasharray: 2 }

#root canvas {
    display: block;
    margin: 0 auto;
}